html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  height: 100%;
}

*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}
