.additional-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additional-products-list__item {
  padding: 12px 0 19px;
  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 33px;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 37px 27px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cdcdcd;

    &:not(:last-of-type){
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 895px;
    padding: 14px 0 17px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
}

.additional-products-list__item-name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-products-list__item-info {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  color: #444444;


  @media (min-width: $tablet-width) {
    width: 300px;
    display: flex;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    padding-top: 7px;
  }
}

.additional-products-list__item-quantity,
.additional-products-list__item-price {
  line-height: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-products-list__item-price {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    min-width: 93px;
    text-align: right;
    margin-left: 0;
    margin-right: 3px;
    margin-top: -1px;
  }

  @media (min-width: $desktop-width) {
    min-width: 42px;
    text-align: left;
  }
}

.additional-products-list__button {
  display: flex;
  justify-content: center;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 632px;
    box-sizing: content-box;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    padding: 10px 0;
    margin-left: 40px;
  }
}
