.additional-products-wrapper{
  padding: 0 20px;

  @media (min-width: $tablet-width){
    padding: 0 30px;
  }

  @media (min-width: $desktop-width){
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additional-products__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: relative;

  &::after {
    content: "";
    width: 54px;
    border: 1px solid #68b738;
    position: absolute;
    top: 15px;
    right: -20px;
  }

  @media (min-width: $tablet-width){
    font-size: 36px;
    line-height: 36px;
    max-width: 340px;
    margin: 0;
    padding: 70px 40px 80px;
    background-color: #ffffff;

    &::after {
      content: "";
      width: 768px;
      height: 2px;
      border: 1px solid #68b738;
      position: absolute;
      top: 91px;
      left: -30px;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width){
    margin-left: -30px;
    padding: 76px 40px 80px;
    background-color: #ffffff;

      &::after {
        content: "";
        width: 1440px;
        height: 2px;
        border: 1px solid #68b738;
        position: absolute;
        top: 100px;
        left: -70px;
        z-index: -1;
      }
  }

}

.additional-products__advertising {
  width: 100%;
  min-height: 290px;
  background-image: url("../../images/catalog/mobile-gift-background@1x.png");
  background-size: 100% auto;
  padding-top: 186px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon-gift");
    background-size: 78px 80px;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width){
    width: 707px;
    min-height: 200px;
    background-image: url("../../images/catalog/tablet-gift-background@1x.png");
    background-size: 100% auto;
    padding-top: 186px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 35px;

    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 82px;
      background-image: url("../../images/icons/stack.svg#icon-gift");
      background-size: 80px 82px;
      top: 57px;
      left: 117px;
    }
  }

  @media (min-width: $desktop-width){
    width: 245px;
    min-height: 288px;
    background-image: url("../../images/catalog/desktop-gift-background@1x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 186px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 35px;

    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 83px;
      background-image: url("../../images/icons/stack.svg#icon-gift");
      background-size: 80px 83px;
      top: 57px;
      left: 122px;
    }
  }
}

.additional-products__advertising-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  padding: 0 60px;
  margin: 0;

  @media (min-width: $tablet-width){
    width: 161px;
    min-height: 60px;
    position: absolute;
    top: 71px;
    right: 120px;
    padding: 0;
  }

  @media (min-width: $desktop-width){
    top: 185px;
    right: 42px;
  }
}
