.additional-products__wrapper {
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 54px;
    padding: 0;
  }
}

.additional-products__subtitle-wrapper{
  position: relative;
  margin: 0;
  padding: 0;

  &::after {
    content: "";
    width: 50%;
    border: 1px solid #68b738;
    position: absolute;
    top: 38px;
    right: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width){
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      border: 1px solid #68b738;
      position: absolute;
      top: 91px;
      left: 0;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width){
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      border: 1px solid #68b738;
      position: absolute;
      top: 95px;
      left: 0;
      z-index: -1;
    }
  }
}

.additional-products__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  margin: 0;
  margin-left: 0px;
  padding: 22px 20px 36px 0;
  background-color: #ffffff;
  box-sizing: content-box;
  max-width: 226px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: 340px;
    margin: 0;
    padding: 68px 40px 80px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    padding: 72px 40px 80px;
    background-color: #ffffff;
  }
}

.additional-products__advertising {
  width: 100%;
  min-height: 290px;
  background-image:
    image-set(
    url("../../images/catalog/mobile-gift-background@1x.webp") type("image/webp") 1x,
    url("../../images/catalog/mobile-gift-background@2x.webp") type("image/webp") 2x,
    url("../../images/catalog/mobile-gift-background@1x.png") type("image/png") 1x,
    url("../../images/catalog/mobile-gift-background@2x.png") type("image/png") 2x
    );
  background-size: 100% auto;
  padding-top: 186px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon-gift");
    background-size: 78px 80px;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    min-height: 200px;
    background-image:
      image-set(
    url("../../images/catalog/tablet-gift-background@1x.webp") type("image/webp") 1x,
    url("../../images/catalog/tablet-gift-background@2x.webp") type("image/webp") 2x,
    url("../../images/catalog/tablet-gift-background@1x.png") type("image/png") 1x,
    url("../../images/catalog/tablet-gift-background@2x.png") type("image/png") 2x
    );
    background-size: 100% auto;
    padding-top: 186px;
    box-sizing: border-box;
    position: relative;
    margin-top: 70px;
    margin-bottom: 35px;

    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 82px;
      background-image: url("../../images/icons/stack.svg#icon-gift");
      background-size: 80px 82px;
      top: 57px;
      left: 117px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    background-image:
      image-set(
    url("../../images/catalog/desktop-gift-background@1x.webp") type("image/webp") 1x,
    url("../../images/catalog/desktop-gift-background@2x.webp") type("image/webp") 2x,
    url("../../images/catalog/desktop-gift-background@1x.png") type("image/png") 1x,
    url("../../images/catalog/desktop-gift-background@2x.png") type("image/png") 2x
    );
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 186px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 3px;
    margin-top: 1px;
    margin-right: 0;

    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 83px;
      background-image: url("../../images/icons/stack.svg#icon-gift");
      background-size: 80px 83px;
      top: 57px;
      left: 122px;
    }
  }
}

.additional-products__advertising-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  padding: 0 50px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    width: 161px;
    min-height: 60px;
    position: absolute;
    top: 71px;
    right: 124px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    top: 185px;
    right: 42px;
    text-align: center;
  }
}
