.advantages {
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 400;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.advantages__image-leaf {
  background-color: $green-basic;
  width: 60px;
  height: 60px;
  position: relative;

    &::after {
      content: "";
      background-image: url("../../images/icons/stack.svg#icon_leaf");
      background-size: 30px 32px;
      width: 30px;
      height: 32px;
      position: absolute;
      left: 15px;
      top: 15px;
    }
}
.advantages__image-water {
  background-color: $green-basic;
  width: 60px;
  height: 60px;
  position: relative;

    &::after {
      content: "";
      background-image: url("../../images/icons/stack.svg#icon_water");
      width: 26px;
      height: 28px;
      position: absolute;
      left: 17px;
      top: 15px;
    }
}
.advantages__image-eat {
  background-color: $green-basic;
  width: 60px;
  height: 60px;
  position: relative;

    &::after {
      content: "";
      background-image: url("../../images/icons/stack.svg#icon_eat");
      width: 25px;
      height: 30px;
      position: absolute;
      left: 17px;
      top: 15px;
    }
}
.advantages__image-clock {
  background-color: $green-basic;
  width: 60px;
  height: 60px;
  position: relative;

    &::after {
      content: "";
      background-image: url("../../images/icons/stack.svg#icon_clock");
      width: 26px;
      height: 31px;
      position: absolute;
      left: 17px;
      top: 15px;
    }
}

.advantages__text {
  margin: 0;
  position: absolute;
  left: 80px;
}
