.button {
  background-color: $green-basic;
  color: #ffffff;
  padding: 10px 44px;
  margin: 0;
  width: 100%;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  display: block;
}
