.card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 55px 48px 40px;
  grid-template-areas:
    "card-image title "
    "card-image specs"
    "link link";
  padding-top: 20px;
  padding-bottom: 46px;
  box-sizing: content-box;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 40px 37px;
    // min-height: 430px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 38px;
  }
}

.card__product-name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 76px;
  color: #222222;
  text-decoration: none;
  margin: 0;
  margin-bottom: 14px;
  display: block;
  grid-area: title;

  @media (min-width: $tablet-width) {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;
    margin-top: 123px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    line-height: 24px;
    margin-top: 110px;
    margin-bottom: 18px;
  }
}

.card__img-wrapper {
  grid-area: card-image;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -51px;
    width: 163px;
    height: 173px;
  }
}

.card__img-wrapper--big {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: -66px;
    width: 168px;
    height: 203px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -67px;
  }
}

.card__img-small,
.card__img-big {
  width: 100%;
  height: 100%;
}


.product-specs {
  grid-area: specs;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.product-specs__item {
  display: flex;
  position: relative;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 6px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 6px;
  }
}

.card__order-button {
  grid-area: link;
  height: 40px;
  margin: 0;
  margin-top: 21px;
  display: flex;
  justify-content: center;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    margin-top: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;
  }
}

.card--show-more {
  position: relative;
  padding: 25px 0;
  margin: 0;
  display: block;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 428px;
    padding: 0;
    border: 1px solid #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.card__show-more-subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 53px;
  margin-bottom: 9px;
  position: relative;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#icon-plus");
    background-size: 30px 30px;
    position: absolute;
    top: -53px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      background-repeat: no-repeat;
      top: -107px;
      left: 70px;
    }

    @media (min-width: $desktop-width) {
      top: -100px;
      left: 68px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 134px;
    margin: 160px 92px 22px;
  }

  @media (min-width: $desktop-width) {
    margin: 145px 53px 26px;
  }
}

.card__show-more-text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 -20px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 75px 82px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 36px 90px;
  }
}

.card__show-more-button {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 44px;
  margin: 0;

  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  display: block;
  text-align: center;

  &:hover {
    background-color: #ebebeb;
    color: #444444;
  }

  &:active {
    background-color: #ebebeb;
    color: #444444;
  }

  @media (min-width: $tablet-width) {
    max-width: 250px;
    margin: 0 35px;
  }

  @media (min-width: $desktop-width) {
    max-width: 170px;
    margin: 0 36px;
    padding: 10px 25px;
  }
}
