.contacts {
  margin: 0;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__text-container {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: -40px;
    padding: 0 40px 58px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    position: absolute;
    min-width: 565px;
    left: 110px;
    top: 95px;
    background-color: #ffffff;
    z-index: 2;
    padding: 61px 70px 61px 80px;
    justify-content: space-between;
  }
}

.contacts__text-container--catalog {
  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}


.contacts__text-container--form {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 50%;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  line-height: 20px;
  color: #444444;
  width: 50%;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 163px;
    min-height: 80px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: -1px;
  }
}

.contacts__map-widget {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 362px;
  background-image: url("../../images/location-mobile@2x.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 400px;
    background-image: url("../../images/location-tablet@2x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    width: 100%;
    background-image: url("../../images/location-desktop@2x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contacts__map-widget iframe {
  border: none;
  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;
  }
}

.contacts--darken {
  margin: 0;
  background-color: #f2f2f2;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
  }
}
