.contacts {
  margin: 0;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    position: relative;
  }
}

.contacts__text-container {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 0;
    margin-top: 0px;
    padding: 61px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    box-sizing: border-box;
    position: absolute;
    left: 110px;
    top: 95px;
    background-color: #ffffff;
    z-index: 2;
    padding: 61px 70px 61px 80px;
  }
}

.contacts__text-container--catalog{
  @media (min-width: $tablet-width){
    margin-top: 75px;
  }

  @media (min-width: $desktop-width){
    margin-top: 0;
  }
}


.contacts__text-container--form{
  @media (min-width: $tablet-width){
    margin-top: 0px;
  }
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 50%;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  line-height: 20px;
  color: #444444;
  width: 50%;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 163px;
    min-height: 80px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: -1px;
  }
}

.contacts__map-widget {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

// .contacts__map-widget--form{
//   @media (min-width: $tablet-width) {
//     width: 1440px;
//     height: 400px;
//     margin-top: 48px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 1440px;
//     height: 400px;
//     margin-top: 48px;
//   }
// }

// .contacts__map-widget--catalog{
//   @media (min-width: $desktop-width) {
//     width: 1440px;
//     height: 400px;
//     margin-top: 55px;
//   }
// }

.contacts__map-widget iframe {
  border: none;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}


.contacts--darken {
  margin: 0;
  background-color: #f2f2f2;
  padding: 0;

  @media (min-width: $tablet-width){
    margin-top: 30px;
  }
}
