.contacts {
  margin: 0;
  max-width: 320px;
}

.contacts__text-container {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 26px 0;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  width: 50%;
  margin: 0;
}

.contacts__text {
  line-height: 20px;
  color: #444444;
  width: 50%;
  margin: 0;
}

.contacts__map-widget {
  max-width: 320px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.contacts__map-widget iframe {
  border: none;
}

.contacts--darken {
  margin: 0;
  background-color: #f2f2f2;
  padding: 0;
}
