.example {
  padding: 24px 20px 40px;
  margin: 0 -20px;
  background-color: #eaeaea;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 400;
}

.example__text {
  margin: 0;
  margin-bottom: 35px;
}

.example__info {
  margin: 0;
}

.example__info-subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  text-align: center;
  margin-bottom: 7px;
}

.example__info-text {
  font-size: 12px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.example__cost {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}
