.footer {
  padding: 40px 0;
  background-color: #f2f2f2;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }

}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding: 55px 0;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}

.logo__link-text--footer {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__social {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 19px 0 15px;
  margin: 0;
  margin-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: content-box;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    margin-left: 36px;
    margin-top: 5px;
    border: none;
  }
}

.footer__social-link {
  text-decoration: none;

  &:hover path {
    fill: #68b738;
  }

  &:active path {
    fill: #68b738;
    opacity: 0.3;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 0;

  &:hover path {
    fill: #68b738;
  }

  &:active path {
    fill: #68b738;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  align-self: center;
  color: #444444;

  &:hover {
    color: #444444;
  }

  &:active {
    color: #444444;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}
