.header {
  padding: 13px 0 14px 0;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
    &:hover{
      opacity: 0.8;
    }

    &:active{
      opacity: 0.6;
    }
}

.header__toggle-open {
  width: 24px;
  height: 16px;
  padding: 4px 0;
  border: none;
  background-color: transparent;

    &:hover{
      opacity: 0.6;
    }

    &:active{
      opacity: 0.3;
    }
}
