.hero-form {
  margin: 0;
}

.hero-form__wrapper {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 126px 0 0;
    padding: 0;
  }
}

.hero-form__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 37px;
  border-top: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    padding-top: 61px;
    margin-bottom: 54px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.hero-form__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 35px;
  max-width: 250px;

  @media (min-width: $tablet-width) {
    max-width: 330px;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    max-width: 330px;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 66px;
  }
}
