.hero-form {
  margin: 0;
  padding: 27px 0 39px;
}

.hero-form__wrapper{
  margin: 0 20px;
}

.hero-form__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 -20px;
  margin-bottom: 37px;
  padding-top: 27px;
  padding-left: 20px;
  border-top: 1px solid #e7e7e7;
}

.hero-form__text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
}
