.hero {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    width: 100%;
    background: linear-gradient(to bottom,#62a63a 302px, #ffffff 302px,  #ffffff 100%)
  }
}

.hero__wrapper {
  background-image: url("../../images/index/mobile-hero-background@1x.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  min-width: 320px;
  padding: 27px 0 20px;
  margin: 0;
  position: relative;


  @media (min-width: $tablet-width) {
    background-image: unset;
    padding-top: 51px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../images/index/desktop-hero-background@1x.png") right top 0 no-repeat;
    padding: 1px 0;
    box-sizing: border-box;
    position: relative;
    // margin-bottom: 40px;

    &::after{
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      display: block;
      width: 50%;
      height: calc(100% - 80px);
      background-color: #63a73c;
      background-position: right center;
    }
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: #000000;
    max-width: 416px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0;
    margin-left: 120px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    color: #000000;
    max-width: 416px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0;
    margin-left: 190px;
    margin-top: 223px;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: #000000;
    max-width: 283px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0;
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    color: #000000;
    max-width: 283px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0;
    margin-left: 190px;
    margin-top: 40px;
    margin-bottom: 372px;
  }
}

.hero__selection-link {
  background-color: $green-basic;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: 280px;
  box-sizing: border-box;
  padding: 10px 40px;
  margin: 0 auto;
  border: none;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 0;
    padding: 14px 26px;
    position: absolute;
    top: 291px;
    left: 120px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
    padding: 14px 26px;
    position: absolute;
    top: 456px;
    left: 190px;
  }
}

.hero__picture-wrapper {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 65px;
    left: 557px;
  }
}

.hero__product-image {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 652px;
  }
}
