.menu-nav {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    min-width: 320px;
    left: -20px;
    z-index: 2;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width){
    width: calc(50% + 55px);
  }
}

.menu-nav--opened {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.menu-nav--closed {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.menu-nav__toggle-close {
  position: absolute;
  background-size: 30px 30px;
  background-color: #ffffff;
  right: 14px;
  top: -48px;
  width: 23px;
  height: 23px;
  padding: 4px;
  border: none;
  box-sizing: content-box;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu-nav__toggle-close:hover line {
  stroke: #666666;
}

.menu-nav__toggle-close:active line {
  stroke: #b3b3b3;
}

.menu-nav__list {
  list-style: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: start;
    gap: 34px;
    font-size: 18px;
    line-height: 24px;
    margin-right: 3px;
    flex-wrap: wrap;
    margin-left: 94px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: -1px;
    gap: 34px;
    font-size: 20px;
    line-height: 30px;
    margin-right: 0;
    margin-left: 0;
  }
}

.menu-nav__list-item {
  @media (max-width: $mobile-width-only) {
    padding-top: 22px;
    padding-bottom: 24px;
    border-top: 1px solid #e6e6e6;
  }
}

.menu-nav__list-link {
  text-decoration: none;
  color: #000000;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.menu-nav__list-link--index {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.menu-nav__list-link--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $green-basic;
    padding-bottom: 6px;
    padding-top: 10px;
    box-sizing: content-box;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $green-basic;
    padding-bottom: 6px;
    padding-top: 10px;
    box-sizing: content-box;
  }
}

.menu-nav__list-link--current-index {
  @media (min-width: $desktop-width) {
    border-color: #ffffff;
  }
}

.menu-nav--no-js {
  display: block;
  position: relative;
}
