.program {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.program__wrapper {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: -22px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 0;
  }
}

.program__item {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }
}

.program__item::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 24px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    left: 445px;
    top: 91px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 47px;
  }
}

.program__item-slim {
  @media (max-width: $mobile-width-only) {
    margin: 0;
    margin-bottom: 24px;
  }
}

.program__item-slim-image {
  display: block;
  width: 36px;
  height: 50px;
  background-image: url("../../images/cat-slim.svg");
  position: absolute;
  left: 27px;
  top: 21px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    left: 476px;
    top: 79px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    left: 66px;
    top: 41px;
  }
}

.program__item-pro-image {
  display: block;
  width: 67px;
  height: 28px;
  background-image: url("../../images/cat-pro.svg");
  position: absolute;
  left: 12px;
  top: 34px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    left: 411px;
    top: 136px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    left: 35px;
    top: 66px;
  }
}

.program__title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  padding-top: 30px;
  margin: 0;
  margin-left: 90px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    margin-left: 53px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    margin-left: 214px;
  }
}

.program__text {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0 13px 22px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    margin-left: 53px;
    border: unset;
    margin-top: 25px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 457px;
    margin-left: 52px;
    margin-top: 73px;
    margin-bottom: 3px;
    border: unset;
  }
}


.program__pro-link,
.program__slim-link {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 4px 20px 18px;
  box-sizing: border-box;
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 53px;
    padding: 0;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 32px;
  }
}

.program__pro-link {
  @media (min-width: $tablet-width) {
    margin-top: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 30px;
  }
}


.program__item-arrow {
  display: inline-block;
  position: absolute;
  width: 145px;
  height: 30px;
  background-image: url("../../images/icons/stack.svg#icon-arrow-short");
  background-size: 44px 12px;
  background-position: center right;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../../images/icons/icon-arrow-long.svg");
    background-size: 44px 12px;
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    bottom: 10px;

    @media (min-width: $tablet-width) {
      left: 15px;
      bottom: 55px;
    }
  }

  &:active {
    background-image: url("../../images/icons/icon-arrow-long.svg");
    opacity: 0.3;
    background-size: 44px 12px;
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    bottom: 10px;

    @media (min-width: $tablet-width) {
      left: 15px;
      bottom: 55px;
    }
  }
}

.program__item-arrow--slim {
  left: 16px;
  bottom: 11px;

  @media (min-width: $tablet-width) {
    left: 25px;
    bottom: 56px;

    &:hover {
      left: 25px;
      bottom: 56px;
    }

    &:active {
      left: 25px;
      bottom: 56px;
    }
  }

  @media (min-width: $desktop-width) {
    left: 25px;
    bottom: 31px;

    &:hover {
      left: 25px;
      bottom: 31px;
    }

    &:active {
      left: 25px;
      bottom: 31px;
    }
  }
}

.program__item-arrow--pro {
  left: 11px;
  bottom: 12px;

  @media (min-width: $tablet-width) {
    left: 21px;
    bottom: 58px;

    &:hover {
      left: 21px;
      bottom: 58px;
    }

    &:active {
      left: 21px;
      bottom: 58px;
    }
  }

  @media (min-width: $desktop-width) {
    left: 21px;
    bottom: 31px;

    &:hover {
      left: 21px;
      bottom: 31px;
    }

    &:active {
      left: 21px;
      bottom: 31px;
    }
  }
}
